/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container1 {
  width: 40%; /* Full width */
  background-color: #ddd; /* Grey background */
 margin-left: 1ch;
}

.container2 {
  width: 100%; /* Full width */
  padding-top: 4ch;
  background-color: #ddd; /* Grey background */
  
  text-align: left;
  /* margin-left: 50ch;
 border: solid 0.2px black;*/
}

#rcorners2 {
  border: solid 2px black;
  padding: 20px; 
  width: 500px;
  height: 10px; 
  align-content: center;
  align-items: center; 
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.correct {width: 30%; background-color: #4CAF50;} /* Green */
.correct1 {width: 10%; background-color: #4CAF50;} 
.correct2 {width: 80%; background-color: #4CAF50;} 
.correct3 {width: 10%; background-color: #4CAF50;} 
.violation {width: 1%; background-color: #2196F3;} /* Blue */
.violation1 {width: 1%; background-color: #2196F3;}
.violation2 {width: 2%; background-color: #2196F3;}
.violation3 {width: 10%; background-color: #2196F3;}
.status {width: 40%; background-color: #f44336;} /* Red */
.status1 {width: 15%; background-color: #f44336;}
.status2 {width: 15%; background-color: #f44336;}
.status3 {width: 15%; background-color: #f44336;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  
}

.box-sizing {
  border: solid 0.2ch black;
  height: fit-content;
  width: 100%;
  background-color: lightblue;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.square {
  height: 10px;
  width: 10px;
  background-color:  #4CAF50;
  margin-left: 5ch;
  margin-top: 5ch;

}

.square1 {
  height: 10px;
  width: 10px;
  background-color: #2196F3;
  margin-left: 5ch;
  margin-top: 5ch;

}

.square2 {
  height: 10px;
  width: 10px;
  background-color: #f44336;
  margin-left: 5ch;
  margin-top: 5ch;

}

.square4 {
  height: 10px;
  width: 10px;
  background-color: #1b458b;
  margin-left: 5ch;
  margin-top: 5ch;

}

.square5 {
  height: 10px;
  width: 10px;
  background-color: #ccbb87;
  margin-left: 5ch;
  margin-top: 5ch;

}

.square6 {
  height: 10px;
  width: 10px;
  background-color: #cc0000;
  margin-left: 5ch;
  margin-top: 5ch;

}

.square7 {
  height: 10px;
  width: 10px;
  background-color: #cc00ff;
  margin-left: 5ch;
  margin-top: 5ch;

}

.figcaption {
/*	position: absolute;*/
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}

.pie-chart {
	position: relative;
	width: 500px;
	min-height: 350px;
	margin: 0;
	outline: 1px solid #ccc;
}
.pie-chart h2 {
	position: absolute;
	margin: 1rem;
}
.pie-chart cite {
	position: absolute;
	bottom: 0;
	font-size: 80%;
	padding: 1rem;
	color: gray;
}
.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}
.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0.2em;
	background: currentColor;
}

.pieContainer {
    
  height: 100px;
  margin-left: 3ch;
  border: black;
  text-align-last: right;

}

.pieBackground {

  background-color: grey;

  position: absolute;

  width: 100px;

  height: 100px;

  -moz-border-radius: 50px;

  -webkit-border-radius: 50px;

  -o-border-radius: 50px;

  border-radius: 50px;

  -moz-box-shadow: -1px 1px 3px #000;

 -webkit-box-shadow: -1px 1px 3px #000;

  -o-box-shadow: -1px 1px 3px #000;

  box-shadow: -1px 1px 3px #000;

}

.pie {

  position: absolute;

  width: 100px;

  height: 100px;

  -moz-border-radius: 50px;

  -webkit-border-radius: 50px;

  -o-border-radius: 50px;

  border-radius: 50px;

  clip: rect(0px, 50px, 100px, 0px);

}

.hold {

  position: absolute;

  width: 100px;

  height: 100px;

  -moz-border-radius: 50px;

  -webkit-border-radius: 50px;

  -o-border-radius: 50px;

 border-radius: 50px;

  clip: rect(0px, 100px, 100px, 50px);

}



#pieSlice1 .pie {

  background-color: #1b458b;

  -webkit-transform:rotate(150deg);

  -moz-transform:rotate(150deg);

  -o-transform:rotate(150deg);

  transform:rotate(150deg);

}

#pieSlice2 {

  -webkit-transform:rotate(150deg);

  -moz-transform:rotate(140deg);

  -o-transform:rotate(140deg);

  transform:rotate(140deg);

}

#pieSlice2 .pie {

  background-color: #ccbb87;

  -webkit-transform:rotate(50deg);

  -moz-transform:rotate(50deg);

 -o-transform:rotate(50deg);

  transform:rotate(50deg);

}

#pieSlice3 {

-webkit-transform:rotate(190deg);

  -moz-transform:rotate(190deg);

  -o-transform:rotate(190deg);

  transform:rotate(190deg);

}

#pieSlice3 .pie {

  background-color: #cc0000;

  -webkit-transform:rotate(70deg);
      -moz-transform:rotate(70deg);

  -o-transform:rotate(70deg);

  transform:rotate(70deg);

}

#pieSlice4 {

  -webkit-transform:rotate(260deg);

  -moz-transform:rotate(260deg);

 -o-transform:rotate(260deg);

  transform:rotate(260deg);

}

#pieSlice4 .pie {

  background-color: #cc00ff;

-webkit-transform:rotate(100deg);

  -moz-transform:rotate(100deg);

  -o-transform:rotate(100deg);

  transform:rotate(100deg);

}